* {
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1110px;
    padding: 0 10px;
    margin: 0 auto;
}

.flexdiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.div1 {
    background-color: yellow;
    width: 100%;
    height: 100px;
}

.div2 {
    background-color: blue;
    width: 100%;
    height: 100px;
}

.div3 {
    background-color: purple;
    width: 100%;
    height: 100px;
}

.div4 {
    background-color: green;
    width: 100%;
    height: 100px;
}

.div5 {
    background-color: pink;
    width: 100%;
    height: 100px;
}

.div6 {
    background-color: red;
    width: 100%;
    height: 100px;
}

@media  (min-width: 600px) and (max-width: 768px) {
    .flexdiv {
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media  (min-width: 769px) {
    .flexdiv {
    grid-template-columns: repeat(6, 1fr)
    }
}



